body {
    background-color: #eee6f7;
    font-family: Georgia, serif;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    margin: 0;
}

.letter {
    background-color: white;

    width: 500px;
    padding: 40px;

    border-radius: 15px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

h1 {
    text-align: center;
    color: #6b3fa0;
}

p {
    color: #333;
    font-size: 18px;
    line-height: 1.6;
}
